<h2>{{t 'customers.all'}}</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-xs-2">{{t 'customer.first_name'}}</th>
      <th class="col-xs-2">{{t 'customer.last_name'}}</th>
      <th class="col-xs-2">{{t 'customer.birth'}}</th>
      <th class="col-xs-2">{{t 'customer.phone'}}</th>
      <th class="col-xs-2">{{t 'customer.mail'}}</th>
      <th class="col-xs-1">{{t 'customer.note'}}</th>
      <th class="col-xs-1 text-right">{{t 'customer.action'}}</th>
    </tr>
  </thead>

  <tbody>
    {{#each customer in attrs.customers}}
      {{admin-edit-customer customer=customer update="updateCustomer" delete="deleteCustomer"}}
    {{/each}}

    <tr>
      {{customer-form customer=heap}}
      <td class="text-right">
        <button class="btn btn-success" {{action 'createCustomer'}}>
          {{fa-icon 'plus-square'}} {{t 'customer.add'}}
        </button>
      </td>
    </tr>
  </tbody>
</table>
