<h2 class="admin-customers-header">
  <div class="admin-customers-header-title">
    {{t 'customers.all'}}
  </div>

  <div class="admin-customers-header-buttons">
    <a href="{{mailto}}" class="admin-customers-header-button-newsletter">
      {{fa-icon icon="envelope"}}
      {{t 'customers.newsletter'}}
    </a>

    <button class="admin-customers-header-button-add" {{action 'createCustomer'}}>
      {{fa-icon icon="plus-square"}}
      {{t "customer.add"}}
    </button>
  </div>
</h2>

{{ember-cli-filterable
    label=(t 'items.filterBy.label')
    placeholder=(t 'customers.filterBy.placeholder')
    filterString=filterString
    filterBy=filterBy
    inputArray=attrs.customers
    action="customersFiltered"
  }}

<table class="admin-customers">
  <thead>
    <tr>
      <th class="admin-customers-col-visits-count">{{th-sort action="sortBy" title=(t 'customer.visits_length') current=sortBy value='visitsCount'}}</th>
      <th class="admin-customers-col-last-visit">{{th-sort action="sortBy" title=(t 'customer.lastVisitDate') current=sortBy value='lastVisitDate'}}</th>
      <th class="admin-customers-col-first-name">{{th-sort action="sortBy" title=(t 'customer.firstName') current=sortBy value='firstName'}}</th>
      <th class="admin-customers-col-last-name">{{th-sort action="sortBy" title=(t 'customer.lastName') current=sortBy value='lastName'}}</th>
      <th class="admin-customers-col-birth">{{th-sort action="sortBy" title=(t 'customer.birth') current=sortBy value='birth'}}</th>
      <th class="admin-customers-col-phone">{{th-sort action="sortBy" title=(t 'customer.phone') current=sortBy value='phone'}}</th>
      <th class="admin-customers-col-mail">{{th-sort action="sortBy" title=(t 'customer.mail') current=sortBy value='mail'}}</th>
      <th class="admin-customers-col-note">{{th-sort action="sortBy" title=(t 'customer.note') current=sortBy value='note'}}</th>
      <th class="admin-customers-col-action">{{t 'customer.action'}}</th>
    </tr>
  </thead>

  <tbody>
    {{#each pagedCustomers as |customer|}}
      <tr>
        <td>{{customer.visitsCount}}</td>
        <td>{{x-visit/last-visit customer=customer}}</td>
        <td>{{customer.firstName}}</td>
        <td>{{customer.lastName}}</td>
        <td>{{time-format customer.birth "DD.MM"}}</td>
        <td>{{customer.phone}}</td>
        <td>{{customer.mail}}</td>
        <td>{{customer.note}}</td>
        <td class="text-right">
          {{#link-to 'admin.customer' customer class='btn btn-default btn-xs'}}
            {{fa-icon icon="pencil"}}
          {{/link-to}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{page-numbers content=pagedCustomers}}
