<div class="receipt">
  {{#with attrs.visit as |visit|}}

    {{#if visit.employee.company.invoiceLogo}}
      <img src={{visit.employee.company.invoiceLogo}}>
    {{/if}}

    <p class="text-center">
      {{visit.employee.company.invoiceHeader}}
    </p>

    <hr />

    <div class="row">
      <div class="col-xs-4">
        {{visit.employee.firstName}}
      </div>
      <div class="col-xs-8 text-right">
        {{moment-format visit.createdAt "LLL"}}
      </div>
    </div>

    <hr />

    <table class="item-table">
      <thead>
        <tr>
          <th>{{t "visit.print.count"}}</th>
          <th class="text-right">{{t "visit.print.unitPrice"}}</th>
          <th class="text-right">{{t "visit.print.price"}}</th>
        </tr>
      </thead>

      <tbody>
        {{#each visit.sells as |sell|}}
          <tr class="active">
            <td colspan="3">
              {{sell.item.name}}
              <sup>{{sell.item.entity.id}}</sup>
            </td>
          </tr>
          <tr>
            <td>
              {{sell.count}}&nbsp;{{fa-icon "times"}}
            </td>
            <td class="text-right">
              {{sell.price}}
            </td>
            <td class="text-right">
              {{sell.sum}}
            </td>
          </tr>
        {{/each}}
      </tbody>

      <tfoot>
        <tr>
          <th colspan="2">
            {{t 'visit.print.sum'}}
          </th>
          <th class="text-right">
            {{visit.price}}
          </th>
        </tr>
      </tfoot>
    </table>

    <hr />

    <ul class="list-unstyled">
      {{#each visit.employee.company.entities as |entity|}}
        {{x-receipt/entity-sum entity=entity sells=visit.sells}}
      {{/each}}
    </ul>
    {{!-- <h3>{{t "visit.print.eetHeading"}}</h3> --}}

    <hr />

    <p class="text-center">
      {{t "visit.print.footer"}}
    </p>
  {{/with}}
</div>

<div class="hidden-print text-center">
  <div class="row">
    <button {{action "print"}} class="btn btn-info">
      {{fa-icon "print" size=5 }}
    </button>
  </div>

  <hr />

  <div class="row">
    {{#link-to 'visits' class="btn btn-primary"}}
      {{t "visit.print.goToVisits"}}
    {{/link-to}}
  </div>
</div>
