{{#if isEditting}}
  {{item-form item=item}}
  <td class="text-right">
    <button class="delete btn btn-danger btn-xs" {{action "delete" on="doubleClick"}}>
      {{fa-icon 'times'}}
    </button>
    <button class="btn btn-success btn-xs" {{action 'update'}}>
      {{fa-icon 'check'}}
    </button>
  </td>
{{else}}
  <td>{{item.name}}</td>
  <td class="text-right">
    {{#if item.unlimited}}
      &#8734;
    {{else}}
      {{item.stock}}
    {{/if}}
  </td>
  <td class="text-right">
    {{x-price value=item.purchase_price}}
  </td>
  <td class="text-right">
    {{x-price value=item.selling_price}}
  </td>
  <td class="text-right">{{item.barcode}}</td>
  <td class="text-right">
    <button {{action "edit"}} class="btn btn-default btn-xs">
      {{fa-icon 'pencil'}}
    </button>
  </td>
{{/if}}
