{{#if isEditting}}
  <td>
    {{input value=item.name class='form-control'}}
  </td>
  <td class="text-right">
    {{input value=item.barcode class='form-control'}}
  </td>
  <td class="text-right">
    <div class="input-group">
      <span class="input-group-addon">
        {{input
            checked=item.unlimited
            type="checkbox"}}
      </span>
      {{input value=item.stock class='form-control' disabled=item.unlimited}}
    </div>
  </td>
  <td class="text-right">
    {{input value=item.default_price class='form-control'}}
  </td>
  <td>
    <button class="btn btn-success btn-xs" {{action 'update'}}>
      {{fa-icon 'check'}}
    </button>
    <button class="delete btn btn-danger btn-xs" {{action "delete" on="doubleClick"}}>
      {{fa-icon 'times'}}
    </button>
  </td>
{{else}}
  <td>{{item.name}}</td>
  <td class="text-right">{{item.barcode}}</td>
  <td class="text-right">
    {{#if item.unlimited}}
      &#8734;
    {{else}}
      {{item.stock}}
    {{/if}}
  </td>
  <td class="text-right">
    {{x-price value=item.default_price}}
  </td>
  <td>
    <button {{action "edit"}} class="btn btn-default btn-xs">
      {{fa-icon 'pencil'}}
    </button>
  </td>
{{/if}}
