<h2>
  <div class="row">
    <div class="col-xs-6">
      {{t 'customers.all'}}
    </div>

    <div class="col-xs-6 text-right">
      {{#link-to 'customer.new' class="customers-new-customer"}}
        {{t 'customers.newCustomer'}}
      {{/link-to}}
    </div>
  </div>
</h2>

{{ember-cli-filterable
    label=(t 'items.filterBy.label')
    placeholder=(t 'customers.filterBy.placeholder')
    filterString=filterString
    filterBy=filterBy
    inputArray=attrs.customers
    action="customersFiltered"
  }}

<table class='table'>
  <thead>
    <tr>
      <th class="col-xs-2">
        {{th-sort action="sortBy" title=(t 'customer.firstName') current=sortBy value="firstName"}}
      </th>
      <th class="col-xs-2">
        {{th-sort action="sortBy" title=(t 'customer.lastName') current=sortBy value="lastName"}}
      </th>
      <th class="col-xs-2">
        {{th-sort action="sortBy" title=(t 'customer.birth') current=sortBy value="birth"}}
      </th>
      <th class="col-xs-2 text-right customers-sort-by-next-birthday">
        {{th-sort action="sortBy" title=(t 'customer.birthday_in') current=sortBy value="daysTillNextBirthday"}}
      </th>
      <th class="col-xs-4">
        {{th-sort action="sortBy" title=(t 'customer.note') current=sortBy value="note"}}
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each pagedCustomers as |customer|}}
      <tr>
        <td>
          {{#link-to 'customer.show' customer}}
            {{customer.firstName}}
          {{/link-to}}
        </td>
        <td>
          {{#link-to 'customer.show' customer}}
            {{customer.lastName}}
          {{/link-to}}
        </td>
        <td class="customers-birth">
          {{#if customer.birth}}
            {{moment-format customer.birth}}
          {{else}}
            -
          {{/if}}
        </td>
        <td class="customers-next-birthday text-right">
          {{~x-customer/birthday customer=customer~}}
          {{!customer.daysTillNextBirthday}}
        </td>
        <td>
          {{customer.note}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{page-numbers content=pagedCustomers}}
