<div class="row">
  <div class="col-xs-12">
    {{#link-to "visit.show" attrs.visit class="btn btn-link"}}
      {{fa-icon 'arrow-left'}}
      {{t 'visit.back_to_visit'}}
    {{/link-to}}

    <div class="jumbotron">
      <p>
        {{t 'visit.close_warning'}}
        {{t 'visit.sum_price_is'}}
        <strong>
          {{x-visit/total-price visit=attrs.visit}}
        </strong>
      </p>
      <button class="btn btn-primary" {{action "confirmCheckout"}}>{{t 'visit.close'}}</button>
    </div>
  </div>
</div>
