<div class="row">
  <div class="col-xs-12">
    {{#link-to "visit.show" attrs.visit class="visit-checkout-back-btn"}}
      {{fa-icon icon="arrow-left"}}
      {{t 'visit.back_to_visit'}}
    {{/link-to}}
  </div>
</div>

<div class="row">
  <div class="visit-amount">
    <h3>{{t 'visit.priceSection'}}</h3>
    <table class="visit-checkout-sells">
      <tbody>
        {{#each attrs.visit.sells as |sell|}}
        <tr>
          <td class="col-xs-4">{{sell.item.name}}</td>
          <td class="col-xs-2 text-right">{{sell.count}} {{fa-icon icon="times"}}</td>
          <td class="col-xs-3 text-right">{{x-item/price value=sell.price}}</td>
          <td class="col-xs-3 text-right">{{x-sell/sum sell=sell}}</td>
        </tr>
        {{/each}}
      </tbody>

      <tfoot>
        <tr>
          <td colspan="3">{{t 'visit.sum_price_is'}}</td>
          <td class="text-right">{{~x-visit/total-price visit=attrs.visit~}}</td>
        </tr>

        <tr>
          <td colspan="3">{{t 'visit.tip'}}</td>
          <td class="visit-checkout-tip">
            {{~format-money attrs.visit.tip symbol=(t 'currency') format="%v %s"~}}
          </td>
        </tr>

        <tr>
          <td colspan="3">{{t 'visit.sum_with_tip_is'}}</td>
          <td class="text-right">
            {{~format-money attrs.visit.priceWithTip symbol=(t 'currency') format="%v %s"~}}
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <div class="visit-payment">
    <h3>{{t 'visit.paymentSection'}}</h3>
    <table class="table table-hover">
      <tbody>
        <tr>
          <td class="col-xs-7">{{t 'visit.sum_with_tip_is'}}</td>
          <td class="col-xs-5 text-right">
            <div class="input-group">
              {{~input class='visit-checkout-price-with-tip' value=attrs.visit.priceWithTip autofocus=true~}}
              <span class="input-group-addon">{{t 'currency'}}</span>
            </div>
          </td>
        </tr>
        <tr>
          <td>{{t 'visit.paid_in_cash'}}</td>
          <td class="text-right">
            <div class="input-group">
              {{~input class='visit-checkout-received-amount' value=attrs.visit.paidInCash~}}
              <span class="input-group-addon">{{t 'currency'}}</span>
            </div>
          </td>
        </tr>
        <tr>
          <td>{{t 'visit.return_amount'}}</td>
          <td class="visit-checkout-return-amount">
            {{~format-money returnAmount symbol=(t 'currency') format="%v %s"~}}
          </td>
        </tr>
      </tbody>
    </table>

    <button class="btn btn-primary" {{action "confirmCheckout"}}>{{t 'visit.close'}}</button>
  </div>
</div>
