<div class="form-group">
  <label>{{t 'admin.companies.entityName'}}</label>
  {{input value=entity.name class="form-control"}}
</div>

<div class="form-group">
  <label>{{t 'admin.companies.entityInvoiceHeader'}}</label>
  {{input value=entity.invoiceHeader class="form-control"}}
</div>

<div class="form-group">
  <label>{{t 'admin.companies.vatid'}}</label>
  {{input value=entity.vatid class="form-control"}}
</div>

<div class="form-group">
  <label>{{t 'admin.companies.premisesid'}}</label>
  {{input value=entity.premisesid class="form-control"}}
</div>

<div class="form-group">
  <label>{{t 'admin.companies.registerid'}}</label>
  {{input value=entity.registerid class="form-control"}}
</div>

{{!-- <div class="form-group">
  <label>{{t 'admin.companies.certificate'}}</label>
  {{input value=entity.certificate class="form-control"}}
</div> --}}

{{!-- <div class="form-group">
  <label>{{t 'admin.companies.certificatePassword'}}</label>
  {{input value=entity.certificate_password class="form-control"}}
</div> --}}

<button class="btn btn-primary" {{action "saveEntity"}}>
  {{fa-icon icon="floppy-o"}}
</button>
