<form class="form-inline">
  <div class="form-group">
    <label>{{t 'admin.companies.entityName'}}</label>
    {{input value=entity.name class="form-control"}}
  </div>

  <div class="form-group">
    <label>{{t 'admin.companies.entityInvoiceHeader'}}</label>
    {{input value=entity.invoiceHeader class="form-control"}}
  </div>

  <button class="btn btn-primary" {{action "saveEntity"}}>
    {{fa-icon icon="floppy-o"}}
  </button>
</form>
