<h2>
  {{attrs.customer.full_name}}
</h2>

<div class="row padding-bottom">
  <div class="col-xs-6">
    <button class="btn btn-default" {{action "rollbackCustomer" attrs.customer}}>
      {{fa-icon icon="arrow-left"}}
      {{t 'customer.all_customers'}}
    </button>
  </div>

  <div class="col-xs-6 text-right">
    <button class="delete btn btn-danger" {{action "deleteCustomer" attrs.customer on="doubleClick"}}>
      {{fa-icon icon="trash"}}
    </button>
    <button class="btn btn-success" {{action 'updateCustomer' attrs.customer}}>
      {{fa-icon icon="check"}}
    </button>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <div class="form-group">
      <label>{{t 'customer.note'}}</label>
      {{textarea placeholder=(t 'customer.note') rows="5" value=attrs.customer.note class='form-control'}}
    </div>

    <div class="form-group">
      <label>{{t 'customer.firstName'}}</label>
      {{input placeholder=(t 'customer.firstName') value=attrs.customer.firstName class='form-control'}}
    </div>
    <div class="form-group">
      <label>{{t 'customer.lastName'}}</label>
      {{input placeholder=(t 'customer.lastName') value=attrs.customer.lastName class='form-control'}}
    </div>
    <div class="form-group">
      <label>{{t 'customer.birth'}}</label>
      {{input placeholder='1984-12-24' value=attrs.customer.birth class="form-control" type="date"}}
    </div>
    <div class="form-group">
      <label>{{t 'customer.phone'}}</label>
      {{input placeholder=(t 'customer.phone') value=attrs.customer.phone class='form-control'}}
    </div>
    <div class="form-group">
      <label>{{t 'customer.mail'}}</label>
      {{input placeholder=(t 'customer.mail') value=attrs.customer.mail class="form-control"}}
    </div>
  </div>

  <div class="col-xs-9">
    <div class="panel panel-default">
      <div class="panel-heading">{{t 'customer.all_visits'}}</div>
      <ul class="list-group">
        {{#each attrs.customer.visits as |visit|}}
          <li class="list-group-item">
            {{x-visit/completed visit=visit}}

            {{#link-to 'admin.visit' visit}}
              {{month-and-day visit.updatedAt}}
              -
              {{format-money visit.total_price symbol=(t 'currency') format="%v %s"}}
            {{/link-to}}

            <small>
              {{visit.note}}
            </small>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
