<h2>{{t 'supply.heading'}}</h2>

<div class="jumbotron">
  <div class="form-group">
    <label>{{t 'supply.purchase_price'}}</label>
    <div class="input-group">
      {{input placeholder=(t 'supply.purchase_price') value=attrs.supply.purchase_price class='form-control'}}
      <span class="input-group-addon">{{t 'currency'}}</span>
    </div>
  </div>

  <div class="form-group">
    <label>{{t 'supply.quantity'}}</label>
    <div class="input-group">
      {{input placeholder=(t 'supply.quantity') value=attrs.supply.quantity class='form-control'}}
      <span class="input-group-addon">{{t 'pieces'}}</span>
    </div>
  </div>

  <div class="form-group">
    <label>{{t 'supply.vat'}}</label>
    <div class="input-group">
      {{input placeholder=(t 'supply.vat') value='21' disabled='true' class='form-control'}}
      <span class="input-group-addon">%</span>
    </div>
  </div>
</div>
