<h2>
  <div class="row">
    <div class="col-xs-6">
      {{t 'supply.heading'}}
    </div>

    <div class="col-xs-6 text-right">
      {{#link-to 'admin.item.new' class='btn btn-success'}}
        {{t 'item.new'}} {{fa-icon 'plus'}}
      {{/link-to}}
    </div>
  </div>
</h2>

<div class="jumbotron col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">

  <div class="form-group">
    <label>{{t 'supply.item'}}</label>
    {{ember-selectize
        content=items
        optionValuePath="content"
        optionLabelPath="content.scanner_string"
        selection=attrs.supply.item
        placeholder=(t 'supply.item') }}
  </div>

  <div class="form-group">
    <label>{{t 'supply.quantity'}}</label>
    <div class="input-group">
      {{input placeholder=(t 'supply.quantity') value=attrs.supply.quantity class='form-control text-right'}}
      <span class="input-group-addon">{{t 'pieces'}}</span>
    </div>
  </div>

  <div class="form-group">
    <label>{{t 'supply.purchase_price'}}</label>
    <div class="input-group">
      {{input placeholder=(t 'supply.purchase_price') value=attrs.supply.purchase_price class='form-control text-right'}}
      <span class="input-group-addon">{{t 'currency'}}</span>
    </div>
  </div>

  <div class="form-group">
    <label>{{t 'item.selling_price'}}</label>
    <div class="input-group">
      {{input value=attrs.supply.item.selling_price class='form-control text-right'}}
      <span class="input-group-addon">{{t 'currency'}}</span>
    </div>
  </div>

  <div class="form-group">
    <label>{{t 'supply.vat'}}</label>
    <div class="input-group">
      {{input placeholder=(t 'supply.vat') value='21' disabled='true' class='form-control text-right'}}
      <span class="input-group-addon">%</span>
    </div>
  </div>

  <div class="form-group">
    <label>{{t 'item.margin'}}</label>
    <div class="input-group">
      {{input value=attrs.supply.item.margin disabled=true class='form-control text-right'}}
      <span class="input-group-addon">%</span>
    </div>
  </div>

  <button {{action "createSupply"}} class="btn btn-primary">
    {{t 'supply.create'}}
  </button>
</div>
