{{#if session.isAuthenticated}}
  <div class="row">
    <div class="col-xs-3 sidebar-wrapper">
      {{app-sidebar visits=openVisits logout="invalidateSession"}}
    </div>

    <main role="main" id="page-wrapper" class="col-xs-9">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">

            {{#each flashes.queue as |flash|}}
              {{flash-message flash=flash}}
            {{/each}}

            {{liquid-outlet}}
          </div>
        </div>
      </div>
    </main>
  </div>
{{else}}
  {{liquid-outlet}}
{{/if}}

{{!outlet 'modal'}}
