{{title (t 'application.title')}}
{{title company.name}}

<div id="wrapper">
  {{#if (and session.isAuthenticated (not-eq session.data.authenticated.role "registrar")) }}
      {{app-menu customers=attrs.customers company=company logout="logout"}}

      <div id="page-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              {{liquid-outlet}}
            </div>
          </div>
        </div>
      </div>
  {{else}}
    {{liquid-outlet}}
  {{/if}}
</div>
