<div id="wrapper">
  {{#if session.isAuthenticated}}
    {{app-menu}}

    <!-- Page Content -->
    <div id="page-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
          {{liquid-outlet}}
          </div>
          <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

    <!--
  <div class="row">
    <div class="col-xs-3 sidebar-wrapper">
      {{app-sidebar logout="invalidateSession"}}
    </div>

    <main role="main" id="page-wrapper" class="col-xs-9">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">

            <div class="flash-container">
              {{#each flashMessages.queue as |flash|}}
                {{flash-message flash=flash}}
              {{/each}}
            </div>

            {{liquid-outlet}}
          </div>
        </div>
      </div>
    </main>
  </div>
  -->
{{else}}
  {{liquid-outlet}}
{{/if}}
</div>
