<h2>{{t 'items.all'}}</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-xs-3">{{t 'item.name'}}</th>
      <th class="col-xs-2 text-right">{{t 'item.unlimited_or_stock'}}</th>
      <th class="col-xs-2 text-right">{{t 'item.purchase_price'}}</th>
      <th class="col-xs-2 text-right">{{t 'item.selling_price'}}</th>
      <th class="col-xs-2 text-right">{{t 'item.barcode'}}</th>
      <th class="col-xs-1 text-right">{{t 'item.action'}}</th>
    </tr>
  </thead>

  <tbody>
    {{#each item in attrs.items}}
      {{admin-edit-item item=item update="updateItem" delete="deleteItem"}}
    {{/each}}

    <tr>
      {{item-form item=heap}}
      <td class="text-right">
        <button class="btn btn-success" {{action 'createItem'}}>
          {{fa-icon 'plus-square'}} {{t 'items.add'}}
        </button>
      </td>
    </tr>
  </tbody>
</table>
