<h2>
  <div class="row">
    <div class="col-xs-6">
      {{t 'items.all'}}
    </div>

    <div class="col-xs-6 text-right">
      {{#link-to 'admin.item.new' class='btn btn-success'}}
        {{t 'item.new'}} {{fa-icon 'plus'}}
      {{/link-to}}
    </div>
  </div>
</h2>

<ul class="nav nav-tabs">
  {{#link-to 'admin.items' (query-params isActive="true") tagName='li'}}
    <a>{{t 'items.active'}}</a>
  {{/link-to}}
  {{#link-to 'admin.items' (query-params isActive="false") tagName='li'}}
    <a>{{t 'items.inactive'}}</a>
  {{/link-to}}
</ul>

{{x-items/table items=attrs.items}}
