<h2>
  <div class="row">
    <div class="col-xs-6">
      {{t 'items.all'}}
    </div>

    <div class="col-xs-6 text-right">
      {{#link-to 'admin.item.new' class='btn btn-success'}}
        {{t 'item.new'}} {{fa-icon 'plus'}}
      {{/link-to}}
    </div>
  </div>
</h2>

<h3>{{t 'items.active'}}</h3>
{{x-items/table items=activeItems}}

<h3>{{t 'items.inactive'}}</h3>
{{x-items/table items=inactiveItems}}
