{{#if isEditting}}
  {{employee-form employee=employee}}
  <td class="text-right">
    <button class="delete btn btn-danger btn-xs" {{action "delete" on="doubleClick"}}>
      {{fa-icon 'times'}}
    </button>
    <button class="btn btn-success btn-xs" {{action 'update'}}>
      {{fa-icon 'check'}}
    </button>
  </td>
{{else}}
  <td>{{employee.first_name}}</td>
  <td>{{employee.last_name}}</td>
  <td>{{employee.photo_url}}</td>
  <td class="text-right">
    <button {{action "edit"}} class="btn btn-default btn-xs">
      {{fa-icon 'pencil'}}
    </button>
  </td>
{{/if}}
