{{#if isEdittingOrDirty}}
  <div class="visit-sell-item-name">
    {{ember-selectize
        content=items
        optionValuePath="content"
        optionLabelPath="content.scannerString"
        placeholder=(t "visit.selectAnItem")
        selection=sell.item
        select-item=(action "selectItem")}}
  </div>
  <div class="visit-sell-count">
    <div class="input-group">
      {{input value=sell.count type='number'}}
      <span class="input-group-addon">{{fa-icon icon="times"}}</span>
    </div>
  </div>
  <div class="visit-sell-price">
    <div class="input-group">
      {{input value=sell.price type='number'}}
      <span class="input-group-addon">{{t 'currency'}}</span>
    </div>
  </div>
  <div class="visit-sell-sum">
    {{x-sell/sum sell=sell}}
  </div>
  <div class="visit-sell-action">
    {{#if isPersisted}}
      <button class="visit-sell-delete" {{action "delete" on="doubleClick"}}>
        {{fa-icon icon="times"}}
      </button>
      <button disabled={{isInvalid}} class="visit-sell-update" {{action 'update'}}>
        {{fa-icon icon="check"}}
      </button>
    {{else}}
      {{x-sell/sum sell=sell}}
      <button disabled={{isInvalid}} class="visit-sell-create" {{action "create"}}>
        {{fa-icon icon="plus"}}
      </button>
    {{/if}}
  </div>
{{else}}
  <div class="visit-sell-item-name">{{sell.item.name}}</div>
  <div class="visit-sell-count">{{sell.count}} {{fa-icon icon="times"}}</div>
  <div class="visit-sell-price">{{x-item/price value=sell.price}}</div>
  <div class="visit-sell-sum">
    {{x-sell/sum sell=sell}}
  </div>
  <div class="visit-sell-action">
    <button class="visit-sell-edit" {{action "edit"}}>
      {{#if isDirty}}
        {{fa-icon icon="clock-o"}}
      {{else}}
        {{fa-icon icon="pencil"}}
      {{/if}}
    </button>
  </div>
{{/if}}
