{{#if isEditting}}
  {{x-sell/row/form sell=sell items=items}}
  <td class="col-item-action">
    <button class="delete btn btn-danger btn-xs" {{action "delete" on="doubleClick"}}>
      {{fa-icon 'times'}}
    </button>
    <button class="btn btn-success btn-xs" {{action 'update'}}>
      {{fa-icon 'check'}}
    </button>
  </td>
{{else}}
  <td class="col-item-name">{{sell.item.name}}</td>
  <td class="col-item-count">{{sell.count}}</td>
  <td class="col-item-separator">⨉</td>
  <td class="col-item-price">{{x-item/price value=sell.price}}</td>
  <td class="col-item-separator">=</td>
  <td class="col-item-sum">{{x-sell/sum sell=sell}}</td>
  <td class="col-item-action">
    <button {{action "edit"}} class="btn btn-default btn-xs">
      {{#if sell.isDirty}}
        {{fa-icon 'clock-o'}}
      {{else}}
        {{fa-icon 'pencil'}}
      {{/if}}
    </button>
  </td>
{{/if}}
