<h2>{{t 'employees.all'}}</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-xs-4">{{t 'employee.firstName'}}</th>
      <th class="col-xs-4">{{t 'employee.lastName'}}</th>
      <th class="col-xs-3">{{t 'employee.photoUrl'}}</th>
      <th class="col-xs-1 text-right">{{t 'employee.action'}}</th>
    </tr>
  </thead>

  <tbody>
    {{#each attrs.employees as |employee|}}
      <tr>
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>
          <img src="{{employee.photoUrl}}" class="employee-avatar-list-of-employees" />
        </td>
        <td class="text-right">
          {{#link-to 'admin.employee' employee class="btn btn-default btn-xs"}}
            {{fa-icon icon="pencil"}}
          {{/link-to}}
        </td>
      </tr>
    {{/each}}

    <tr>
      <td>{{input placeholder=(t 'employee.firstName') value=heap.firstName class='form-control'}}</td>
      <td>{{input placeholder=(t 'employee.lastName') value=heap.lastName class='form-control'}}</td>
      <td>{{input placeholder=(t 'employee.photoUrl') value=heap.photoUrl class='form-control'}}</td>
      <td class="text-right">
        <button class="btn btn-success" {{action 'createEmployee'}}>
          {{fa-icon icon="plus-square"}} {{t "employee.add"}}
        </button>
      </td>
    </tr>
  </tbody>
</table>
