<h2>{{t 'employees.all'}}</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-xs-4">{{t 'employee.first_name'}}</th>
      <th class="col-xs-4">{{t 'employee.last_name'}}</th>
      <th class="col-xs-3">{{t 'employee.photo_url'}}</th>
      <th class="col-xs-1 text-right">{{t 'employee.action'}}</th>
    </tr>
  </thead>

  <tbody>
    {{#each employee in attrs.employees}}
      <tr>
        <td>{{employee.first_name}}</td>
        <td>{{employee.last_name}}</td>
        <td>{{employee.photo_url}}</td>
        <td class="text-right">
          {{#link-to 'admin.employee' employee class="btn btn-default btn-xs"}}
            {{fa-icon 'pencil'}}
          {{/link-to}}
        </td>
      </tr>
    {{/each}}

    <tr>
      <td>{{input placeholder=(t 'employee.first_name') value=employee.first_name class='form-control'}}</td>
      <td>{{input placeholder=(t 'employee.last_name') value=employee.last_name class='form-control'}}</td>
      <td>{{input placeholder=(t 'employee.photo_url') value=employee.photo_url class='form-control'}}</td>
      <td class="text-right">
        <button class="btn btn-success" {{action 'createEmployee'}}>
          {{fa-icon 'plus-square'}} {{t 'employee.add'}}
        </button>
      </td>
    </tr>
  </tbody>
</table>
