<h2>{{t 'employees.all'}}</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-xs-4">{{t 'employee.firstName'}}</th>
      <th class="col-xs-4">{{t 'employee.lastName'}}</th>
      <th class="col-xs-3">{{t 'employee.currentShare'}}</th>
      <th class="col-xs-1 text-right">{{t 'employee.action'}}</th>
    </tr>
  </thead>

  <tbody>
    {{#each employeesSorted as |employee|}}
      <tr>
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>
          -
          {{#with employee.currentPayslip as |payslip|}}
            {{payslip.period.id}}
            {{!-- {{#if payslip.period.isActive}}
              {{payslip.id}} - {{payslip.shareSale}}
            {{/if}} --}}
          {{/with}}
          -
          {{~x-employee/share shareSale=employee.currentShareSale shareService=employee.currentShareService~}}
        </td>
        <td class="text-right">
          {{#link-to 'admin.employee' employee class="btn btn-default btn-xs"}}
            {{fa-icon icon="pencil"}}
          {{/link-to}}
        </td>
      </tr>
    {{/each}}

    <tr>
      <td>{{input placeholder=(t 'employee.firstName') value=heap.firstName class='form-control'}}</td>
      <td>{{input placeholder=(t 'employee.lastName') value=heap.lastName class='form-control'}}</td>
      <td class="text-right" colspan="2">
        <button class="btn btn-success" {{action 'createEmployee'}}>
          {{fa-icon icon="plus-square"}} {{t "employee.add"}}
        </button>
      </td>
    </tr>
  </tbody>
</table>
