<h2 {{bind-attr title=(date-and-time attrs.visit.date ENV.locale)}} class="row">
  <div class="col-xs-6">
    {{#link-to 'customer' attrs.visit.customer}}
      {{fa-icon 'user'}}
      {{attrs.visit.customer.full_name}}
    {{/link-to}}
  </div>
  <div class="col-xs-6 text-right">
    {{fa-icon 'scissors'}}
    {{attrs.visit.employee.full_name}}
  </div>
</h2>

<hr />

{{liquid-outlet}}
