<h2>{{t 'items.all'}}</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>{{t 'item.name'}}</th>
      <th class="text-right">{{t 'item.stock'}}</th>
      <th class="text-right">{{t 'item.selling_price'}}</th>
    </tr>
  </thead>

  <tbody>
    {{#each item in attrs.items}}
      <tr>
        <td>{{item.name}}</td>
        <td class="text-right">
          {{#if item.unlimited}}
            &#8734; - {{item.sold}} = &#8734;
          {{else}}
            {{item.bought}} - {{item.sold}} = {{item.stock}}
          {{/if}}
        </td>
        <td class="text-right">
          {{x-item/price value=item.selling_price}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
