<h2>
  {{attrs.employee.fullName}}
</h2>

<div class="row padding-bottom">
  <div class="col-xs-6">
    <button class="btn btn-default" {{action "rollbackEmployee" attrs.employee}}>
      {{fa-icon icon="arrow-left"}}
      {{t 'employee.all_employees'}}
    </button>
  </div>

  <div class="col-xs-6 text-right">
    <button class="delete btn btn-danger btn-xs" {{action "deleteEmployee" attrs.employee on="doubleClick"}}>
      {{fa-icon icon="times"}}
    </button>
    <button class="btn btn-success btn-xs" {{action 'updateEmployee' attrs.employee}}>
      {{fa-icon icon="check"}}
    </button>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <div class="form-group">
      <label>{{t 'employee.firstName'}}</label>
      {{input value=attrs.employee.firstName class='form-control'}}
    </div>

    <div class="form-group">
      <label>{{t 'employee.lastName'}}</label>
      {{input value=attrs.employee.lastName class='form-control'}}
    </div>

    <div class="form-group">
      <label>{{t 'employee.photoUrl'}}</label>
      {{input value=attrs.employee.photoUrl class='form-control'}}
    </div>

    <div class="checkbox">
      <label>
        {{input checked=attrs.employee.isActive type="checkbox"}}
        {{t 'employee.isActive'}}
      </label>
    </div>
  </div>

  <div class="col-xs-8">
    <h3>{{t 'employee.all_visits'}}</h3>

    <ul class="nav nav-tabs" role="tablist">
      <li class="disabled">
        <a>
          {{t 'admin.employee.year'}}:
        </a>
      </li>

      {{#each years as |year|}}
        {{#link-to 'admin.employee.year' employeeId year role="presentation" tagName="li"}}
          <a href="" role="tab">
            {{year}}
          </a>
        {{/link-to}}
      {{/each}}
    </ul>

    {{outlet}}
  </div>
</div>
