<h1>
  {{fa-icon "scissors"}}
  <a href="#">Top Style</a>
</h1>

<h2 class='hide'>{{t 'sidebar.heading.navigation'}}</h2>

<h3>{{t 'sidebar.heading.employee'}}</h3>
<ul class="nav nav-pills nav-stacked">
  <li>
    {{#link-to 'customers'}}
      {{fa-icon 'users'}}
      {{t 'sidebar.customers'}}
    {{/link-to}}
  </li>

  <li>
    {{#link-to 'items'}}
      {{fa-icon 'tags'}}
      {{t 'sidebar.items'}}
    {{/link-to}}
  </li>

  <li>
    {{#link-to 'visits'}}
      {{fa-icon 'coffee'}}
      {{t 'sidebar.visits'}}
      <span class="pull-right label label-success">
        {{open_visits}}x
        {{fa-icon 'user'}}
      </span>
    {{/link-to}}
    <ul class="nav nav-second-level nav-pills nav-stacked">
      {{#each visit in visits}}
        <li>
          {{#link-to 'visit' visit}}
            {{visit-human-name visit=visit}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </li>
</ul>

<h3>
  {{fa-icon 'user'}}
  {{t 'sidebar.heading.admin'}}
</h3>
<ul class="nav nav-pills nav-stacked">
  <li>
    {{#link-to 'admin.items'}}
      {{fa-icon 'dropbox'}}
      {{t 'sidebar.admin.items'}}
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'admin.customers'}}
      {{fa-icon 'male'}}
      {{t 'sidebar.admin.customers'}}
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'admin.employees'}}
      {{fa-icon 'scissors'}}
      {{t 'sidebar.admin.employees'}}
    {{/link-to}}
  </li>
</ul>
