<h1>
  {{fa-icon "scissors"}}
  <a href="#">Top Style</a>
</h1>

<h2 class='hide'>{{t 'sidebar.heading.navigation'}}</h2>



<h3>
  {{t 'sidebar.heading.profile'}}
</h3>
<ul class="nav nav-pills nav-stacked">
  <li>
    <a {{action 'logout'}} href="">
      {{fa-icon 'sign-out'}}
      {{t 'sidebar.logout'}}
    </a>
  </li>
</ul>
