{{#with attrs.item as |item|}}
  <h2>
    {{item.name}}
  </h2>

  <h3>{{t 'item.sold'}}</h3>

  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-xs-1">{{t 'sell.count'}}</th>
        <th class="col-xs-2">{{t 'sell.unit_price'}}</th>
        <th class="col-xs-2">{{t 'sell.sum_price'}}</th>
        <th class="col-xs-2">{{t 'sell.customer'}}</th>
        <th class="col-xs-2">{{t 'sell.employee'}}</th>
        <th class="col-xs-2">{{t 'sell.date'}}</th>
        <th class="col-xs-1">{{t 'sell.visit'}}</th>
      </tr>
    </thead>

    <tbody>
      {{#each item.sells as |sell|}}
        <tr>
          <td>{{sell.count}}</td>
          <td>{{x-item/price value=sell.price}}</td>
          <td>{{x-sell/sum sell=sell}}</td>
          <td>
            {{#link-to 'admin.customer' sell.visit.customer}}
              {{sell.visit.customer.full_name}}
            {{/link-to}}
          </td>
          <td>
            {{#link-to 'admin.employee' sell.visit.employee}}
              {{sell.visit.employee.full_name}}
            {{/link-to}}
          </td>
          <td>{{sell.visit.date}}</td>
          <td>
            {{#link-to 'visit.show' sell.visit}}
              {{fa-icon 'external-link'}}
            {{/link-to}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <h3>{{t 'item.bought'}}</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="text-right col-xs-3">{{t 'supply.created_at'}}</th>
        <th class="text-right col-xs-2">{{t 'supply.purchase_price'}}</th>
        <th class="text-right col-xs-1">{{t 'supply.quantity'}}</th>
        <th class="text-right col-xs-1">{{t 'supply.vat'}}</th>
        <th class="text-right col-xs-2">{{t 'supply.sum'}}</th>
        <th class="text-right col-xs-3">{{t 'supply.sum_with_vat'}}</th>
      </tr>
    </thead>

    <tbody>
      {{#each item.supplies as |supply|}}
        <tr>
          <td class="text-right">{{supply.createdAt}}</td>
          <td class="text-right">{{format-money supply.purchase_price symbol=(t 'currency') format="%v %s"}}</td>
          <td class="text-right">{{supply.quantity}}</td>
          <td class="text-right">{{supply.vat}}%</td>
          <td class="text-right">{{format-money supply.sum symbol=(t 'currency') format="%v %s"}}</td>
          <td class="text-right">{{format-money supply.sum_with_vat symbol=(t 'currency') format="%v %s"}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  {{log item.lastSupply}}
{{/with}}
