<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">

    <h3>{{t 'sidebar.heading.employee'}}</h3>
    <ul class="nav" id="side-menu">

      <li>
        {{#link-to 'items'}}
          {{fa-icon icon="tags"}}
          {{t 'sidebar.items'}}
        {{/link-to}}
      </li>

      <li>
        {{#link-to 'customers'}}
          {{fa-icon icon="users"}}
          {{t 'sidebar.customers'}}
          <span class="pull-right label label-success">
            {{birthdaysInWeek.length}}x
            {{fa-icon icon="birthday-cake"}}
          </span>
        {{/link-to}}
      </li>

      <li>
        {{#link-to 'visits'}}
          {{fa-icon icon="coffee"}}
          {{t 'sidebar.visits'}}
        {{/link-to}}
        <ul class="nav nav-second-level nav-pills nav-stacked">
          {{#each visits as |visit|}}
            <li>
              {{#link-to 'visit.show' visit}}
                {{visit.customer.fullName}}
                <img class="employee-avatar-in-sidebar" {{bind-attr src="visit.employee.photoUrl"}} />
              {{/link-to}}
            </li>
          {{/each}}
        </ul>
      </li>

    </ul>
    {{#if session.data.authenticated.isAdmin}}
      <h3 class="heading-admin">
        {{t 'sidebar.heading.admin'}}
      </h3>
      <ul class="nav nav-pills nav-stacked">
        <li>
          {{#link-to 'admin.items'}}
            {{fa-icon icon="dropbox"}}
            {{t 'sidebar.admin.items'}}
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'admin.supply'}}
            {{fa-icon icon="truck"}}
            {{t 'sidebar.admin.supply'}}
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'admin.customers'}}
            {{fa-icon icon="male"}}
            {{t 'sidebar.admin.customers'}}
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'admin.employees'}}
            {{fa-icon icon="scissors"}}
            {{t 'sidebar.admin.employees'}}
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'admin.statuses'}}
            {{fa-icon icon="gears"}}
            {{t 'sidebar.admin.statuses'}}
          {{/link-to}}
        </li>
      </ul>
    {{/if}}

  </div>
  <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
