<h2>{{t 'item.new'}}</h2>

{{! template-lint-disable unused-block-params }}
{{#with heap as |item|}}
  {{partial 'admin/item/_form'}}
{{/with}}
{{! template-lint-enable unused-block-params }}

<button class="btn btn-primary" {{action 'createItem'}}>
  {{fa-icon icon="plus"}} {{t "item.new"}}
</button>
