<table class="admin-employee-visits table table-hover">
  <thead>
    <tr>
      <th>{{t 'visit.createdAt'}}</th>
      <th>{{t 'visit.customer'}}</th>
      <th class="text-right">{{t 'visit.price'}}</th>
      <th class="text-right">
        {{fa-icon icon="gift"}}
        +
        {{fa-icon icon="scissors"}}
        =
        {{t 'visit.employee_margin'}}
      </th>
    </tr>
  </thead>

  <tbody>
    {{#each model as |visit|}}
      <tr>
        <td>
          {{~#link-to 'admin.visit' visit.id~}}
            {{~ x-visit/completed visit=visit ~}}
            {{~ moment-format visit.createdAt 'LLL' ~}}
          {{~/link-to~}}
        </td>
        <td>
          {{~#link-to 'admin.customer' visit.customer~}}
            {{~ visit.customer.fullName ~}}
          {{~/link-to~}}
        </td>
        <td class="text-right">{{~format-money visit.price symbol=(t 'currency') format="%v %s"~}}</td>
        <td class="text-right">
          {{~format-money visit.employeeShareSale symbol=(t 'currency') format="%v %s"}} + {{format-money visit.employeeShareService symbol=(t 'currency') format="%v %s"}} = {{format-money visit.employeeShare symbol=(t 'currency') format="%v %s"~}}
        </td>
      </tr>
    {{/each}}
  </tbody>

  <tfoot>
    <tr>
      <th colspan="2"></th>
      <th class="text-right">
        {{~x-visits/sum visits=model~}}
      </th>
      <th class="text-right">
        {{~x-visits/employee-share visits=model~}}
      </th>
    </tr>
  </tfoot>
</table>
