<h2>Open visits</h2>

<div class="row">
  {{#each visit in attrs.visits}}
    <div class="col-xs-4">
      <div class="well">
      <h3>
        {{#link-to 'visit' visit}}
          {{visit-human-name visit=visit}}
        {{/link-to}}
      </h3>
      <img class="avatar img-circle img-thumbnail" {{bind-attr src="visit.employee.photo_url"}} />
      <time>{{date-and-time visit.date ENV.APP.locale}}</time>
      <p class="price">{{visit.total_price}}</p>
      </div>
    </div>
  {{/each}}

  <div class="col-xs-4">
    {{view "select"
        value=newVisitCustomer
        content=customers
        class="form-control"
        prompt="-- Select customer --"
        optionValuePath="content.id"
        optionLabelPath="content.full_name"}}
    {{view "select"
        value=newVisitEmployee
        content=employees
        class="form-control"
        prompt="-- Select employee --"
        optionValuePath="content"
        optionLabelPath="content.full_name"}}
      <button type="button" class='btn btn-primary btn-block' {{action 'createVisit'}}>
        {{fa-icon 'plus-circle'}} New visit
      </button>
  </div>
</div>
