<h2>{{t 'visit.all_open'}}</h2>

<div class="row">
  {{#each attrs.visits as |visit|}}
    <div class="col-xs-4">
      <div class="visits-item">
        <div class="visits-item-heading">
          {{#link-to 'visit.show' visit}}
            {{visit-human-name visit=visit}}
          {{/link-to}}
        </div>
        <div class="visits-item-body">
          <img class="employee-avatar-in-visits" {{bind-attr src="visit.employee.photoUrl"}} />
          <time>{{date-and-time visit.date 'cs'}}</time>
          <em>
            {{format-money visit.total_price symbol=(t 'currency') format="%v %s"}}
          </em>
        </div>
      </div>
    </div>
  {{/each}}

  <div class="col-xs-4">
    <div class="visits-item-new">
      <div class="visits-item-body">
        <div class="row">
          <div class="form-group col-xs-9">
            <label for="employee">{{t 'visit.employee'}}</label>
            {{view "select"
                id="employee"
                value=heap.employee
                content=attrs.employees
                class="form-control"
                prompt=(t 'visit.new.selectEmployee')
                optionValuePath="content"
                optionLabelPath="content.full_name"}}
          </div>
        </div>

        {{#if heap.employee}}
          <img {{bind-attr src=heap.employee.photoUrl}} class="employee-avatar-in-visits" />
        {{/if}}

        <div class="form-group">
          <label for="customer">{{t 'visit.customer'}}</label>
          {{ember-selectize
              content=attrs.customers
              optionValuePath="content"
              optionLabelPath="content.full_name"
              selection=heap.customer
              placeholder=(t 'visit.new.selectCustomer') }}
        </div>

        <button type="button" class='btn btn-primary btn-block' {{action 'createVisit'}}>
          {{fa-icon icon="plus-circle"}}
          {{t 'visit.new.confirm'}}
        </button>
      </div>
    </div>
  </div>
</div>
