<h2>{{t 'visit.all_open'}}</h2>

<div class="row">
  {{#each visit in attrs.visits}}
    <div class="col-xs-4">
      <div class="well">
      <h3>
        {{#link-to 'visit' visit}}
          {{visit-human-name visit=visit}}
        {{/link-to}}
      </h3>
      <img class="avatar img-circle img-thumbnail" {{bind-attr src="visit.employee.photo_url"}} />
      <time>{{date-and-time visit.date ENV.APP.locale}}</time>
      <p class="price">{{visit.total_price}}</p>
      </div>
    </div>
  {{/each}}

  <div class="col-xs-4">
    <div class="well">
      <div class="form-group">
        <label for="customer">{{t 'visit.customer'}}</label>
        {{#x-customer/auto-complete
            id="customer"
            options=customers
            selectedValue=heap.customer_id
            placeHolderText=(t 'visit.auto_complete')
            noMesssagePlaceHolderText="No things are found" as |result|}}
          <p>{{result.full_name}} - <small>{{result.birth}}</small> - {{result.id}}</p>
        {{/x-customer/auto-complete}}
      </div>

      <div class="form-group">
        <label for="employee">{{t 'visit.employee'}}</label>
        {{view "select"
            id="employee"
            value=heap.employee
            content=employees
            class="form-control"
            prompt=(t 'visit.select_employee')
            optionValuePath="content"
            optionLabelPath="content.full_name"}}
      </div>
        <button type="button" class='btn btn-primary btn-block' {{action 'createVisit'}}>
          {{fa-icon 'plus-circle'}}
          {{t 'visit.new'}}
        </button>
      </div>
  </div>
</div>
