<div class="row">
  <div class="col-xs-12">
    <table class="admin-visits-table">

      <thead>
        <tr>
          <th>{{t 'overview.paidByCard'}}</th>
          <th>{{t 'overview.paidInCash'}}</th>
          <th>{{t 'overview.priceWithTip'}}</th>
        </tr>
      </thead>

      <tbody>
        {{#each attrs.visits as |visit|}}
          <tr>
            <td>
              {{format-money visit.paidByCard symbol="Kč" format="%v %s"}}
            </td>
            <td>
              {{format-money visit.paidInCash symbol="Kč" format="%v %s"}}
            </td>
            <td>
              {{format-money visit.priceWithTip symbol="Kč" format="%v %s"}}
            </td>
          </tr>
        {{/each}}
      </tbody>

      <tfoot>
        <tr>
          <th>
            {{format-money sumCard symbol="Kč" format="%v %s"}}
          </th>
          <th>
            {{format-money sumCash symbol="Kč" format="%v %s"}}
          </th>
          <th>
            {{format-money sum symbol="Kč" format="%v %s"}}
          </th>
        </tr>
      </tfoot>

    </table>
  </div>
</div>
