{{#each model as |company|}}
  <div class="row">
    <div class="col-xs-6">
      <h2>{{t 'admin.companies.companyHeading'}}</h2>

      <div class="form-group">
        <label for="{{concat 'company-name-' company.id}}">{{t 'admin.companies.companyNameLabel'}}</label>
        {{input value=company.name id=(concat 'company-name-' company.id) class="form-control"}}
      </div>

      <div class="checkbox">
        <label>
          {{input checked=company.isInvoicePrintingActive type="checkbox"}}
          {{t 'admin.companies.isInvoicePrintingActive'}}
        </label>
      </div>

      <div class="form-group">
        <label for="invoice-header">{{t 'admin.companies.invoiceHeader'}}</label>
        {{textarea rows=5 value=company.invoiceHeader id="invoice-header" class="form-control"}}
      </div>

      <div class="form-group">
        <label for="invoice-logo">{{t 'admin.companies.invoiceLogo'}}</label>
        {{input value=company.invoiceLogo id="invoice-logo" class="form-control"}}
      </div>

      <div class="form-group">
        <label for="address">{{t 'admin.companies.address'}}</label>
        {{input value=company.address id="address" class="form-control"}}
      </div>

      <div class="form-group">
        <label for="website">{{t 'admin.companies.website'}}</label>
        {{input value=company.website id="website" class="form-control"}}
      </div>

      <div class="form-group">
        <label for="facebook">{{t 'admin.companies.facebook'}}</label>
        {{input value=company.facebook id="facebook" class="form-control"}}
      </div>

      <div class="form-group">
        <label for="phone">{{t 'admin.companies.phone'}}</label>
        {{input value=company.phone id="phone" class="form-control"}}
      </div>

      <button class="btn btn-primary" {{action "saveCompanyName" company}}>
        {{fa-icon icon="floppy-o"}}
      </button>
    </div>

    <div class="col-xs-6">
      <h3>
        {{t 'admin.companies.entitiesHeading'}}
        <button class="admin-customers-header-button-add" {{action 'addNewEntity' company}}>
          {{fa-icon icon="plus-square"}}
        </button>
      </h3>

      <div class="row">
        {{#each company.entities as |entity|}}
          <div class="col-xs-12">
            <div class="panel panel-default">
              <div class="panel-body">
                {{x-entity/form entity=entity saveEntityName=(action "saveEntityName")}}
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
{{/each}}
