<tbody>
  {{#each sells as |s|}}
    <tr class="customer-visit-sell">
      <td class="customer-visit-sell-item-name">{{s.item.name}}</td>
      <td class="customer-visit-sell-count">{{s.count}}</td>
      <td>{{fa-icon "times"}}</td>
      <td class="customer-visit-sell-price">{{~x-item/price value=s.price~}}</td>
      <td>=</td>
      <td class="customer-visit-sell-sum">{{~x-sell/sum sell=s~}}</td>
    </tr>
  {{/each}}
</tbody>
