<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    {{#link-to 'index' class='navbar-brand'}}
      {{#if controllers.application.stillLoading}}
        {{fa-icon "spinner" spin=true}}
      {{else}}
        {{fa-icon 'scissors'}}
      {{/if}}
      Top Style Salon
    {{/link-to}}
  </div>
  <!-- /.navbar-header -->

  {{app-menu/top logout="invalidateSession" stillLoading=controllers.application.stillLoading}}

  {{app-menu/side visits=visits customers=customers}}
</nav>
