<h2>
  {{t 'visit.visit_of'}}:
  {{attrs.visit.customer.full_name}}
  <small>@{{date-and-time attrs.visit.date}}</small>
  &nbsp;
  <img class="avatar img-circle img-thumbnail" {{bind-attr src="attrs.visit.employee.photo_url"}} />
</h2>

<div class="row padding-bottom">
  <div class="col-xs-6">
    {{#link-to 'admin.customer' attrs.visit.customer class="btn btn-default"}}
      {{fa-icon icon="arrow-left"}}
      {{t 'visit.back_to_customer'}}
    {{/link-to}}
  </div>

  <div class="col-xs-6 text-right">
    {{#if attrs.visit.completed}}
      <button class="btn btn-warning" {{action "reopenVisit" attrs.visit}}>
        {{fa-icon icon="folder-open"}}
        {{t 'visit.reopen'}}
      </button>
    {{/if}}
    <button class="delete btn btn-danger" {{action "deleteVisit" attrs.visit on="doubleClick"}}>
      {{fa-icon icon="trash"}}
    </button>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <table class="table">
      <thead>
        <tr>
          <th class="col-xs-6">{{t 'sell.item'}}</th>
          <th class="col-xs-2 text-right">{{t 'sell.unit_price'}}</th>
          <th class="col-xs-2 text-right">{{t 'sell.count'}}</th>
          <th class="col-xs-2 text-right">{{t 'sell.sum_price'}}</th>
        </tr>
      </thead>

      <tbody>
        {{#each sell in attrs.visit.sells}}
          <tr>
            <td>{{sell.item.name}}</td>
            <td class="text-right">{{x-item/price value=sell.price}}</td>
            <td class="text-right">{{sell.count}}</td>
            <td class="text-right">{{x-sell/sum sell=sell}}</td>
          </tr>
        {{/each}}
      </tbody>

      <tfoot>
        <tr class="info">
          <th colspan="3">
            {{t 'visit.total_price'}}
          </th>
          <th class="text-right">
            {{x-visit/total-price visit=attrs.visit}}
          </th>
          <th></th>
        </tr>
      </tfoot>
    </table>
  </div>

  <div class="col-xs-6">
    <table class="table table-hover">
      <tr>
        <td>{{t 'visit.sum_with_tip_is'}}</td>
        <td>{{format-money attrs.visit.price_with_tip symbol=(t 'currency') format="%v %s"}}</td>
      </tr>
      <tr>
        <td>{{t 'visit.received_amount'}}</td>
        <td>{{format-money attrs.visit.received_amount symbol=(t 'currency') format="%v %s"}}</td>
      </tr>
    </table>

    <h4>{{t 'visit.note'}}</h4>
    <div class="well">
      {{attrs.visit.note}}
    </div>
  </div>
</div>
