<div class="row">
<div class="col-lg-6 col-md-12">
<div class="row">
  <div class="col-xs-6">
    {{#link-to 'visits' class="btn btn-default"}}
      {{fa-icon 'arrow-left'}}
      {{t 'visit.all_visits'}}
    {{/link-to}}
  </div>

  <div class="col-xs-6 text-right">
    {{#link-to 'visit.checkout' attrs.visit class="btn btn-primary"}}
      {{t 'visit.checkout'}}
      {{fa-icon 'shopping-cart'}}
    {{/link-to}}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-xs-5">{{t 'sell.item'}}</th>
          <th class="col-xs-2 text-right">{{t 'sell.count'}}</th>
          <th class="col-xs-2 text-right">{{t 'sell.unit_price'}}</th>
          <th class="col-xs-2 text-right">{{t 'sell.sum_price'}}</th>
          <th class="col-xs-1 text-right">{{t 'sell.action'}}</th>
        </tr>
      </thead>

      <tbody>
        {{#each attrs.visit.sells as |sell|}}
          {{x-sell/row sell=sell items=items update="updateSell" delete="deleteSell"}}
        {{/each}}

        <tr>
          {{x-sell/row/form sell=heap items=items}}
          <td class="text-right">
            <button class="btn btn-success btn-xs" {{action "createSell"}}>
              {{fa-icon 'plus'}}
            </button>
          </td>
        </tr>
      </tbody>

      <tfoot>
        <tr class="info">
          <th colspan="3">
            {{t 'visit.total_price'}}
          </th>
          <th class="text-right">
            {{x-visit/total-price visit=attrs.visit}}
          </th>
          <th></th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

{{textarea value=attrs.visit.note class="form-control" placeholder=(t 'visit.note') rows="5"}}
<button class="btn btn-success" {{action "saveNote"}}>
  {{fa-icon 'floppy-o'}}
</button>
</div>
<div class="col-lg-6 col-md-12">
  {{x-customer/visits customer=attrs.visit.customer}}
</div>
</div>