<div class="row">
  <div class="visit-current">
    <div class="row">
      <div class="visit-navigation-back">
        {{#link-to 'visits'}}
          {{fa-icon icon="arrow-left"}}
          {{t 'visit.all_visits'}}
        {{/link-to}}
      </div>

      <div class="visit-navigation-checkout">
        {{#link-to 'visit.checkout' attrs.visit}}
          {{t 'visit.checkout'}}
          {{fa-icon icon="shopping-cart"}}
        {{/link-to}}
      </div>

      <div class="visit-sells">
        {{!#liquid-spacer growDuration=250}}
        <table>
          <tbody>
            {{#each attrs.visit.sells as |sell|}}
                {{x-sell/row sell=sell items=items update="updateSell" delete="deleteSell"}}
            {{/each}}

            {{x-sell/row sell=heap items=items firstChange=false isEditting=true create="createSell"}}
          </tbody>

          <tfoot>
            <tr>
              <th colspan="3">
                {{t 'visit.total_price'}}
              </th>
              <th class="visit-sell-sum">
                {{x-visit/total-price visit=attrs.visit}}
              </th>
            </tr>
          </tfoot>
        </table>
        {{!/liquid-spacer}}
      </div>

      <div class="visit-note">
        <div>
          <div class="visit-note-heading">{{fa-icon icon="comment"}}</div>
          <div class="visit-note-body">
            {{textarea value=attrs.visit.note placeholder=(t 'visit.note') rows="5" class="visit-note-editor" focus-out="saveNote"}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="visit-history">
    <div class="row">
      <div class="col-xs-12">
        {{x-customer/visits customerId=attrs.visit.customer.id}}

        {{#link-to 'customer.show' attrs.visit.customer.id class='btn btn-block btn-default'}}
          {{t 'loadMore'}}
        {{/link-to}}
      </div>
    </div>
  </div>
</div>
