<div class="row">
  <div class="col-lg-7 col-md-12">
    <div class="row">
      <div class="col-xs-6">
        {{#link-to 'visits' class="btn btn-default"}}
          {{fa-icon 'arrow-left'}}
          {{t 'visit.all_visits'}}
        {{/link-to}}
      </div>

      <div class="col-xs-6 text-right">
        {{#link-to 'visit.checkout' attrs.visit class="btn btn-primary"}}
          {{t 'visit.checkout'}}
          {{fa-icon 'shopping-cart'}}
        {{/link-to}}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <table class="table-item">
          <tbody>
            {{#each attrs.visit.sells as |sell|}}
                {{x-sell/row sell=sell items=items update="updateSell" delete="deleteSell"}}
            {{/each}}

            <tr>
              {{x-sell/row/form sell=heap items=items firstChange=false}}
              <td class="text-right">
                <button class="btn btn-success btn-xs" {{action "createSell"}}>
                  {{fa-icon 'plus'}}
                </button>
              </td>
            </tr>
          </tbody>

          <tfoot>
            <tr>
              <th colspan="5">
                {{t 'visit.total_price'}}
              </th>
              <th class="text-right">
                {{x-visit/total-price visit=attrs.visit}}
              </th>
              <th></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">{{fa-icon "comment"}}</div>
      <div class="">
        {{textarea value=attrs.visit.note placeholder=(t 'visit.note') rows="5" class="visit-note-editor" focus-out="saveNote"}}
      </div>
    </div>
  </div>

  <div class="col-lg-5 col-md-12">
    {{x-customer/visits customer=attrs.visit.customer}}
  </div>
</div>
