<td>
  {{input value=item.name placeholder=(t 'items.newName') class='form-control'}}
</td>

<td class="text-right">
  {{input checked=item.unlimited type="checkbox"}}
</td>

<td class="text-right">
  <div class="input-group">
    {{input value=item.selling_price placeholder=(t 'items.newDefaultPrice') class="form-control text-right"}}
    <span class="input-group-addon">{{t 'currency'}}</span>
  </div>
</td>

<td>
  {{input value=item.barcode placeholder=(t 'items.newBarcode') class="form-control text-right"}}
</td>
