<div class="customer-visit-heading" role="tab" id="heading{{visit.id}}">
  <a {{action "toggleExpand"}} class="{{isExpanded::collapsed}}" aria-expanded="{{isExpanded}}" aria-controls="collapse{{visit.id}}">
    <img src={{visit.employee.photoUrl}} class="employee-avatar-in-visit-list" />

    {{#if visit.note}}
      {{fa-icon icon="comment"}}
    {{/if}}

    <span class="customer-visit-heading-updated-at">
      {{~ moment-format visit.updatedAt ~}}
    </span>

    <span class="customer-visit-heading-price">
      {{~format-money visit.price symbol=(t 'currency') format="%v %s"~}}
    </span>
  </a>
</div>

<div id="collapse{{visit.id}}" class="customer-visit-body {{isExpanded::collapse}}" role="tabpanel" aria-labelledby="heading{{visit.id}}">
  {{#if isExpanded}}
    <div class="customer-visit-note">
      {{~#if visit.note~}}
        {{~visit.note~}}
      {{~/if~}}
    </div>
    {{x-customer/visits/visit/sells sells=visit.sells}}
  {{/if}}
</div>
