<div class="panel-heading" role="tab" id="heading{{visit.id}}">
  <a {{action "toggleExpand"}} class="{{isExpanded::collapsed}}" aria-expanded="{{isExpanded}}" aria-controls="collapse{{visit.id}}">
    <img src={{visit.employee.photo_url}} class="employee-avatar-in-visit-list" />

    {{#if visit.note}}
      {{fa-icon icon="comment"}}
    {{/if}}

    {{date-and-time visit.updatedAt ENV.locale}}

    <span class="pull-right">
      ??? Kč
      {{!format-money visit.total_price symbol=(t 'currency') format="%v %s"}}
    </span>
  </a>
</div>

<div id="collapse{{visit.id}}" class="panel-collapse {{isExpanded::collapse}}" role="tabpanel" aria-labelledby="heading{{visit.id}}">
  {{#if isExpanded}}
    <div class="panel-body">
      {{#if visit.note}}
        {{visit.note}}
      {{/if}}
    </div>
    {{x-customer/visits/visit/sells sells=visit.sells}}
  {{/if}}
</div>
