{{#if isEditting}}
  {{x-customer/row/form customer=customer}}
  <td class="text-right">
    <button class="delete btn btn-danger btn-xs" {{action "delete" on="doubleClick"}}>
      {{fa-icon 'times'}}
    </button>
    <button class="btn btn-success btn-xs" {{action 'update'}}>
      {{fa-icon 'check'}}
    </button>
  </td>
{{else}}
  <td>{{customer.id}}</td>
  <td>{{customer.first_name}}</td>
  <td>{{customer.last_name}}</td>
  <td>{{customer.birth}}</td>
  <td>{{customer.phone}}</td>
  <td>{{customer.mail}}</td>
  <td>{{customer.note}}</td>
  <td class="text-right">
    <button {{action "edit"}} class="btn btn-default btn-xs">
      {{fa-icon 'pencil'}}
    </button>
  </td>
{{/if}}
