{{#if isEditting}}
  {{x-item/row/form item=item}}
  <td class="text-right">
    <button class="delete btn btn-danger btn-xs" {{action "delete" on="doubleClick"}}>
      {{fa-icon 'times'}}
    </button>
    <button class="btn btn-success btn-xs" {{action 'update'}}>
      {{fa-icon 'check'}}
    </button>
  </td>
{{else}}
  <td>
    {{#link-to 'admin.item.show' item}}
      {{item.name}}
    {{/link-to}}
  </td>
  <td class="text-right">
    {{#if item.unlimited}}
      &#8734; - {{item.sold}} = &#8734;
    {{else}}
      {{item.bought}} - {{item.sold}} = {{x-item/stock-icon item=item}}
    {{/if}}
  </td>
  <td class="text-right">
    {{x-item/price value=item.selling_price}}
  </td>
  <td class="text-right">{{item.barcode}}</td>
  <td class="text-right">
    <button {{action "edit"}} class="btn btn-default btn-xs">
      {{fa-icon 'pencil'}}
    </button>
  </td>
{{/if}}
