<div class="form-group">
  <label>{{t 'item.name'}}</label>
  {{input value=item.name placeholder=(t 'items.newName') class='form-control'}}
</div>

{{#if isEdit}}
  <div class="form-group">
    <label>{{t 'item.sellingPrice'}}</label>
    <div class="input-group">
      {{input value=item.sellingPrice placeholder=(t 'items.newSellingPrice') class="form-control text-right"}}
      <span class="input-group-addon">{{t 'currency'}}</span>
    </div>
  </div>
{{/if}}

<div class="form-group">
  <label>{{t 'item.barcode'}}</label>
  {{input value=item.barcode placeholder=(t 'items.newBarcode') class="form-control text-right"}}
</div>

<div class="form-group">
  <label>{{t 'item.warningThreshold'}}</label>
  <div class="input-group">
    {{input value=item.warningThreshold placeholder=(t 'items.newWarningThreshold') class="form-control text-right"}}
    <span class="input-group-addon">{{t 'pieces'}}</span>
  </div>
</div>

<div class="checkbox">
  <label>
    {{input checked=item.unlimited type="checkbox"}}
    {{t 'item.unlimited'}}
  </label>
</div>

<div class="checkbox">
  <label>
    {{input checked=item.isActive type="checkbox"}}
    {{t 'item.isActive'}}
  </label>
</div>

<div class="checkbox">
  <label>
    {{input checked=item.isService type="checkbox"}}
    {{t 'item.isService'}}
  </label>
</div>
