{{#if isEditingNote}}
  <td colspan="5">
    {{textarea placeholder=(t 'customer.note') rows="5" value=customer.note class='form-control'}}
  </td>
{{else}}
  <td>{{input placeholder=(t 'customer.first_name') value=customer.first_name class='form-control'}}</td>
  <td>{{input placeholder=(t 'customer.last_name') value=customer.last_name class='form-control'}}</td>
  <td>{{input placeholder=(t 'customer.birth') value=customer.birth class='form-control'}}</td>
  <td>{{input placeholder=(t 'customer.phone') value=customer.phone class='form-control'}}</td>
  <td>{{input placeholder=(t 'customer.mail') value=customer.mail class='form-control'}}</td>
{{/if}}

<td>
  <button {{bind-attr class=":btn isEditingNote:btn-primary"}} {{action "toggleNote"}}>
    {{fa-icon 'comments'}}
  </button>
</td>
